$primary-color: rgb(76, 76, 76);
$secondary-color: rgb(52, 52, 52);
$accent-color: rgb(231, 154, 22);
$border-color: rgb(229, 229, 229);

$padding-offset: 2rem;


// Layout
body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
  padding-top: 0.5rem;
}

a {
  color: $secondary-color;
  text-decoration: underline;
  text-decoration-style: dotted;
    &:hover {
    text-decoration: underline;
    font-weight: normal;
    color: $accent-color;
  }
}

.wrapper {
  width: 1040px;
  margin: auto;

  header, section{
    padding-top: 8rem;
    padding-left: $padding-offset;
    padding-right: $padding-offset;
  }

  section {
    width: 680px
  }
}

footer {
  text-align: center;
  padding: 0 $padding-offset;
}

// Custom components
.info-basic {
  margin-top: 0.4rem;
  position {
    font-weight: 300;
  }
}


.masthead {
  position: fixed;
  width: -webkit-fill-available;
  text-align: end;
  background-color: #ffffff;

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: calc(680px + 18rem);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $border-color;
    border-width: 1px 0;

    a {
      margin: 0 1rem;
      color: $secondary-color;
      text-decoration: none;
      font-weight: 300;

      &:hover {
        font-weight: normal;
        color: $accent-color;
      }
    }

    div {
      display: flex;
      align-items: center;
    }

    h2 {
      margin-top: 1rem;
      width: 16rem;
      text-align: center;
    }

    .burger {
      display: none;
    }
  }
}

.social-icons{
  display: flex;
  justify-content: space-around;
}

.social-icons a{
  display:inline-block;
  height:2.4rem;
  width:2.4rem;
  background-color:transparent;
  color: $secondary-color;
  border-radius:100%;
  text-align:center;
  font-size:1.15rem;
  line-height:2.5rem;
  margin-right:1rem;

}


.social-icons a:last-child{
  margin-right:0
}

.social-icons a:hover{
  transform: scale(1.1);
  color: $accent-color;
}

.news-item {
  // first td in the row should have text-align center
  td {
    padding: 2px 4px;
    border-bottom: unset;

    &:first-child {
      text-align: center;
    }
    &:nth-child(2) {
      font-family: "Segoe UI", monospace;
    }
  }
}

.papers {
  margin-top: 1rem;
  
  .paper-item {
    margin-bottom: 0.5em;

    span:first-child {
      font-weight: 700;
    }

    i {
      margin-left: 4px
    }
  }
}


// Responsiveness
@media (max-width: 960px) {
  header {
      width: 16rem;
      text-align: center;
      margin: auto;
      padding-right: unset;
  }
}

@media print, screen and (max-width: 960px) {
  .wrapper section {
    padding-top: $padding-offset;
    width: auto;
  }

  .masthead nav {
    width: 100%;
  
    .burger {
      display: flex; 
      align-items: center;
      margin: 0 2rem;
    }

    .burger.hidden {
      display: none;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      align-items: flex-end;
    }
    
    .nav-links.open {
      display: flex !important;
    }
  }


}