#research {
	padding-bottom: 2%;

	> header {
		> p {
			margin: 0;
		}
		> ul.posts {
			top: unset;
			position: inherit;

			> li{
    			padding-top: 0.5em; 

    			h3 {
    				display: flex;
    				justify-content: space-between;

    				> a{
    					flex-grow: 1
    				}

    				> .read-paper{
					    font-size: x-large;
					    padding: 0 32px 0 32px; 
					}

					> .watch-video{
					    font-size: x-large;
					    padding: 0 0 0 8px;

					    > a:hover{
					    	text-decoration: unset;
					    }
					}

					> .unpublished{
						color: currentColor;
						cursor: not-allowed;
						text-decoration: none;
					} 
    			}
    		}

			.published {
				display: flex;
    			justify-content: space-between;

    			> .publication {
    				font-weight: 600;
    				display: flex;
    				align-items: center;
    				text-align: center;

    				a {
    					border-bottom: none;
						text-decoration: none;
    				}
    			}

		       > .authors {
			    width: 80%;
			    text-transform: none;
			  }

			}

			.abstract {
				font-size: smaller;
			}
		}
	}	 
}


